{% extends "base.html" %}
{% block content %}
<div class="span9">
<h1>Update article</h1>

<form action="{% url "generate:article_update" article.pk  %}" method="POST">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
</br>
    <input class="btn btn-primary" id="save_article" type="submit" value="Save" />
    <a class="btn" href="{% url "generate:article-render" article.pk %}">Render</a>
    <a class="btn" href="{% url "generate:article-render" article.pk %}?show_data=True">Data</a>
</form>
<a href="{% url "generate:article-list" %}">Back to articles.</a>
</div>
{% endblock %}
