{% extends "base.html" %}
{% block content %}

<div class="span9">
<h1>Add template</h1>

<form action="{% url "templates:template_create" %}" method="POST">
    {% csrf_token %}

   <label for="id_name">Name</label>
    <input id="id_name" maxlength="200" name="name" type="text" /><br/>
    <label for="id_data">Data</label><br/>
    <textarea id="id_data" name="data" cols=100;></textarea><br/>

    <input id="save_template" type="submit" value="Create" />
    </form>

    <a href="{% url "templates:template-list" %}">Back to templates.</a>
</div>
{% endblock %}
