{% extends "base.html" %}
{% block title %}
List products
{% endblock %}
{% block content %}
    <div class="span9">

    <h1>Products</h1>

    <ul>
    {% for product in product_list %}
    <li> {{ product.name }}
    <a href={% url "products:product_update" product.pk  %}>[Update]</a>
    <a href={% url "products:product_delete" product.pk %}>[Delete]</a>
    </li>
    {% endfor %}
    {% if not product_list %}
    <div class="message">Sorry, there are no products defined yet.</div>
    {% endif %}
    </ul>
</div>
{% endblock %}

